<select>
    <optgroup label="Dramas">
        <option>Forrest Gump</option>
        <option>Fight Club</option>
    </optgroup>
    <optgroup label="Comedies">
        <option>The Legend of Ron Burgundy</option>
        <option>Brothers</option>
    </optgroup>
</select>

